<div class="jumbotron">
  <div class="container">
    <h1>Edit User</h1>
    <p>Edit user information</p>
    <p>
      <%= link_to "Back", root_path, class: "btn btn-primary btn-lg" %>
    </p>
  </div>

  <div class="container">

    <%= render partial: 'users/user_form' %>

  </div>

</div>
